
/*Styling and inserting of the jumbotron image
it needed to be the full length of the page*/
.jumbotron{
    background-image: url("./images/picture\ 1.jpg");
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: none;

    
}



/*h1 and h2 is styled before media queriers have been included*/
.jumbotron h1{
    text-align: center;
    color: whitesmoke;
    margin: 0;
    line-height: 1.5;

}

.jumbotron h2{
    text-align: center;
    color: whitesmoke;
    font-size: 35px;    

}
/*The container is the entire jumbotron and its contents*/
.container{
    padding-top: 160px;

}


/*The nav bar is the bar at the top of the page used when it is in large screens
such as laptops and desktops. */
.navbar-nav a{
    color:white!important;
    margin: 0 20px;
    margin-top:15px;
    background-color: #373f51;
    opacity: 40%;
   
    
}
/*The navbar toggler appears when the screen size is adjusted to smaller sizes
such as mobiles. the navbar will change into a collapsible hamburger button for easy navigation*/
.navbar-toggler{
    color:#373f51!important;
    border: none!important;
    outline: none!important;
}
/*Fonts Awesome icon is used for the hamburger*/
.navbar-toggler .fa{
    color: #373f51;
    font-size: 33px;

}
/*When mouse hovers over the navbar it will underline the link*/
.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid white;
    margin-bottom: -4px;
}
/*Media queries for larger screens were used to over-ride original css*/
@media only screen and (max-width:1000px) {

     .navbar {
        background-color: rgba(0,0,0,0,0.8);

      }

      .navbar-nav a {
            margin: 0px 5px 0px 17px;
            margin-top: 15px;
      }

      .nav-link:hover{
        border-bottom: none;
      }

      
}
/*media queries for smaller screens were used to over ride the css so it is easier to use*/
@media only screen and (max-width:600px) {
    
    .jumbotron h1 {
        font-size:26px;
        line-height: 1.7;
    }

    .jumbotron h2 {
        font-size:20px;
        line-height: 1.7;
    }

    .container{
        padding:100px;
    }
}    

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.card:hover{
    cursor: pointer;
    box-shadow: 0px 12px 15px 10px #333;
    transition: all 0.3s ease;
}